{% extends "base.html" %}


{% block content %}

<a href="{% url 'forum:novo_topico' categoria.id %}">Novo topico</a>

{% for categoria in categorias %}

<div class="row post">
  <div class="col-sm-12 post-header">
      <h1><a href="{% url 'forum:categoria' categoria.id %}">{{ categoria.titulo }}</a></h1>
      {{categoria.descricao}}
  </div>
</div>
{% endfor %}


{% for topico in topicos %}

<div class="row post">
  <div class="col-sm-12">
    <div class="col-sm-8 post-header">
      <p><a href="{% url 'forum:topico' topico.id %}">{{ topico.titulo }}</a></p>
      {{topico.descricao}}

    </div>
    <div class="col-sm-4 post-header">
        {{ topico.autor }}<br />
        {{ topico.data_hora_criacao }}
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}