{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'forum/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'forum/css/bootstrap-theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'forum/css/forum.css' %}" />
    <title>{% block title %}User test{% endblock %}</title>
</head>

<body class="body">
    <div id="header">
        {% block header %}
        header
        <a href="{% url 'forum:index'%}">Pagina Inicial</a>
	    {% endblock %}
    </div>

    <div id="content">
        {% block content %}
        content
        {% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        footer
        {% endblock %}
    </div>
</body>

</html>